main, header, section, aside, footer {
    margin: 0 auto;
    padding: rem-calc(20);
    border: 1px solid #000000;
    color: #ffffff;
    font-family: 'Acme', sans-serif;
    text-align: center;
}

main {
    width: 75%;
    background: #000000;
    margin: 0 auto;
    padding: 7px;
}
img {
    padding: 2px;
}

.header {
    background: #03a9f4;
}

.hero {
    background: #80d0d9;
}

.content {
    background: #000000;
    flex: 1;
    
}

.sidebar {
    border: 1px solid #000000;
    background: #f0547d;
    flex: 0 1 300px;
}

.footer {
    border: 1px solid #000000;
    background: #616161;
}

.flex-container {
    @media screen and (min-width: 640px){
        display: flex;
    }    
}

.wrapper {
    margin: auto;
    max-width: rem-calc(1200);
}